In [ ]:
print("   /|")
print("  / |")
print(' /  |')
print("/___|")

   /|
  / |
 /  |
/___|

In [ ]:
# Statements are printed one by one, but changing the character's name or age can be tedious.
print("There once was a man named John, ")
print("he was 70 years old, ")
print("He really liked the name John, ")
print("but didn't like being 70.")
print("\n")
# Character's name and age can be stored in variables, so that changes can be executed at once.
character_name = "abhi"
character_age = "25"

print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old, ")
print("He really liked the name " + character_name + ", ")
print("but didn't like being " + character_age + ".")
print("\n")
# The variable can be changed mid-execution.
character_name = "Tom"
character_age = "50"

print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old, ")
print("\n")
character_name = "Mike"

print("He really liked the name " + character_name + ", ")
print("but didn't like being " + character_age + ".")
print("\n")

There once was a man named John,
he was 70 years old,
He really liked the name John,
but didn't like being 70.


There once was a man named abhi,
he was 25 years old,
He really liked the name abhi,
but didn't like being 25.


There once was a man named Tom,
he was 50 years old,


He really liked the name Mike,
but didn't like being 50.

In [3]:
# Print a simple string.
print("Giraffe Academy")
print("\n")
# Print a string with two words which are separated by new line.
print("Giraffe \nAcademy")
print("\n")
# String can stored in a variable.
phrase = "Giraffe Academy"
print("\n")
# String can be concatenated inside the "print" function.
print(phrase + " is cool.")
print("\n")
# Every letter in the string is capitalized with the "upper" function.
print(phrase.upper())
print("\n")
# Different string functions can be chained together.
print(phrase.upper().isupper())
print("\n")
# "len" function returns the length of the string.
print(len(phrase))
print("\n")
# Letters from string can be printed using "[]" and their index.
print(phrase[0])
print("\n")
# "index" function returns the index number of the letter where it first encountered it.
print(phrase.index("G"))
print("\n")
# "index" function can even return the index number of the phrase where it first encountered it.
print(phrase.index("Acad"))
print("\n")
# "replace" function replace a portion of the string it matches.
print(phrase.replace("Giraffe", "Elephant"))

Giraffe Academy


Giraffe
Academy




Giraffe Academy is cool.


GIRAFFE ACADEMY


True


15


G


0


8


Elephant Academy

In [4]:
print(phrase.upper().isupper())

True

In [7]:
from math import *
print(floor(3.7))
print(ceil(3.7))
print(sqrt(36))

3
4
6.0

In [8]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello " + name + "! You are is " + age + ".")

Enter your name: abhi
Enter your age: 25
Hello abhi! You are is 25.

In [12]:
# Input from a user is stored as a string by default.
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result =int(num1)  + int(num2)

print(result)

# If the input is valid, "float" function can turn the input string into float and then perform the desired operation.
result = float(num1) + float(num2)

print(result)

Enter a number: 56
Enter another number: 67
123
123.0

In [13]:
# User's inputs can be used to create a short "Mad Libs Game".
color = input("Enter a color: ")
plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")

print("Roses are " + color + ",")
print(plural_noun + " are blue,")
print("I love " + celebrity + ".")

Enter a color: red
Enter a plural noun: work
Enter a celebrity: taylor
Roses are red,
work are blue,
I love taylor.

In [14]:
print(f"Roses are {color},")
print(f"{plural_noun} are blue,")
print(f"I love {celebrity}")

Roses are red,
work are blue,
I love taylor

In [15]:
# Lists are defined by using "[]" and inserting elements between these brackets.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

# Print all the elements in the list.
print(friends)

# Print the first element in the list.
print(friends[0])

# Print the last element in the list.
print(friends[-1])

# Print all elements in the list starting from the second one.
print(friends[1:])

# Print all elements in the list from the second one up to the third one.
print(friends[1:3])

# Replace the second element in the list and print it.
friends[1] = "Mike"

print(friends[1])

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']
Kevin
Toby
['Karen', 'Jim', 'Oscar', 'Toby']
['Karen', 'Jim']
Mike

In [16]:
friends

['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

In [17]:
# Define two new list.
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

# "extend" function extends the original list with the one used as argument.
friends.extend(lucky_numbers)
print(friends)

# "append" function appends a new element to the end of the list.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.append("Creed")
print(friends)

# "insert" function inserts a new element at the place given by the first argument.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.insert(1, "Kelly")
print(friends)

# "remove" function removes an element given by the argument.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.remove("Jim")
print(friends)

# "clear" function empties the list.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.clear()
print(friends)

# "pop" function removes the last element of the list.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.pop()

print(friends)

# "index" function return the index of the element given by the argument.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends.index("Oscar"))

# "count" function returns the number of times the element given by the argument appears in the list.
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]

print(friends.count("Jim"))

# "sort" function sorts all the items in the list in alphabetical order.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.sort()

print(friends)

# "reverse" function sorts all the items in the list in reverse alphabetical order.
lucky_numbers.reverse()

print(lucky_numbers)

# "copy" function copies the whole list.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends2 = friends.copy()

print(friends2)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]
['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']
['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby']
['Kevin', 'Karen', 'Oscar', 'Toby']
[]
['Kevin', 'Karen', 'Jim', 'Oscar']
3
2
['Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']
[42, 23, 16, 15, 8, 4]
['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [18]:
# "pop" function removes the last element of the list.
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.pop()

'Toby'

In [19]:
# Lists are created by using "[]" and inserting elements between these brackets.
coordinates = [4, 5]
coordinates[1] = 10

print(coordinates[1])

# Tuples are created by using "()" and inserting elements between these brackets.
coordinates = (4, 5)
# coordinates[1] = 10 - This line of code will throw an error - tuples are immutable.

print(coordinates[1])

# Tuples can be elements of a list.
coordinates = [(4, 5), (6, 7), (80, 34)]

print(coordinates[1])

10
5
(6, 7)

In [20]:
# Functions are defined by using the "def" keyword.
def say_hi(name, age):
    print("Hello " + name + ", your age is " + age + "!")


say_hi("Mike", "35")


# Functions like "say_hi" can even receive an integer if it is properly converted.
def say_hi(name, age):
    print("Hello " + name + ", your age is " + str(age) + "!")


say_hi("Steve", 70)

Hello Mike, your age is 35!
Hello Steve, your age is 70!

In [21]:
# "return" keyword is used at the end of a function and it signals the function's end.
def cube(num):
    return num * num * num


result = cube(4)
print(result)

64

In [22]:
# "if" keyword is followed by one or more logical conditions.
# "else" keyword executes if the condition in "if" statement is not satisfied.
is_male = True
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both.")
else:
    print("You are neither male nor tall.")

# If multiple logical conditions are chained together, they have to be separated by "and" or "or" keywords.
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both.")
else:
    print("You are neither male nor tall.")

is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a tall male.")
else:
    print("You are either not male or not tall or both.")

is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a tall male.")
else:
    print("You are either not male or not tall or both.")

# If the "if" condition is not met, "elif" statements can be used to further branch the block of code.
# "else" statement always comes at the end of the block.
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a tall male.")
elif is_male and not(is_tall):
    print("You are a short male.")
elif not(is_male) and is_tall:
    print("You are not a male, but are tall.")
else:
    print("You are either not male or not tall or both.")

You are a male or tall or both.
You are neither male nor tall.
You are a tall male.
You are either not male or not tall or both.
You are a short male.

In [23]:
# Multiple conditions in the code can be checked even through a function.
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3


print(max_num(300, 40, 5))

300

In [25]:
# Calculator can be defined through if statements; desired mathematical operations are given by the user as input.
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1 - num2)
elif op == "*":
    print(num1 * num2)
elif op == "/":
    print(num1 / num2)
else:
    print("Invalid operator.")

Enter first number: 56
Enter operator: -
Enter second number: 67.9
-11.900000000000006

In [26]:
# Dictionaries are defined by using "{}" and inserting elements between these brackets.
month_conversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

# Keys have to be UNIQUE!
print(month_conversions)
print(month_conversions["Nov"])
print(month_conversions.get("Dec"))

# "None" is printed if the key is not present in the dictionary.
print(month_conversions.get("Par"))

# Default value if the key value is not found.
print(month_conversions.get("Par", "Not a valid key."))

# Key-value pairs in dictionary do not have to be of the same data type.
month_conversions = {
    0: "January",
    1: "February",
    2: "March",
    3: "April",
    4: "May",
    5: "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

{'Jan': 'January', 'Feb': 'February', 'Mar': 'March', 'Apr': 'April', 'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August', 'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}
November
December
None
Not a valid key.

In [27]:
# "while" loop is executed while the logical condition are met.
i = 1
while i <= 10:
    print(i)
    i += 1

print("Done with loop.")

1
2
3
4
5
6
7
8
9
10
Done with loop.

In [28]:
# Secret word is defined and user has 3 attempts to try to guess it in order to win.
secret_word = "Giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

# "while" loop checks if the user has guessed the word and that the user is not of guesses.
# "if" statement checks if the number of time the user has guessed is less than the limit.
while guess != secret_word and not out_of_guesses:
    if guess_count < guess_limit:
        guess = input("Enter guess: ")
        guess_count += 1
    else:
        out_of_guesses = True

# Final "if" statement prints the result of the game.
if out_of_guesses:
    print("Out of guesses, you lose!")
else:
    print("You win!")

Enter guess: bunny
Enter guess: Giraffe
You win!

In [29]:
# "for" loops are useful in looping through a given object.
for letter in "Giraffe Academy":
    print(letter)

# The naming of the variable by which the loop is performed provisional.
friends = ["Jim", "Karen", "Kevin"]
for friend in friends:
    print(friend)

# "range" function is especially useful in "for" loops.
for index in range(10):
    print(index)
for index in range(3, 10):
    print(index)

# "len" function can be used to loop by the number of elements in the object.
for index in range(len(friends)):
    print(index)
for index in range(len(friends)):
    print(friends[index])

# "for" loops can be combined with "if" statements.
for index in range(5):
    if index == 0:
        print("First iteration.")
    else:
        print("Not first.")

G
i
r
a
f
f
e

A
c
a
d
e
m
y
Jim
Karen
Kevin
0
1
2
3
4
5
6
7
8
9
3
4
5
6
7
8
9
0
1
2
Jim
Karen
Kevin
First iteration.
Not first.
Not first.
Not first.
Not first.

In [30]:
# Function that raises base number to a provisional power is defined by the following block of code.
def raise_to_power(base_num, power_num):
    result = 1
    for index in range(power_num):
        result = result * base_num
    return result


print(raise_to_power(3, 4))

81

In [31]:
3**4

81

In [33]:
def fun(a,b):
  return a**b
fun(3,4)

81

In [34]:
# 2D lists are defined by using consecutive "[]" brackets.
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

# This piece of code will print the element in the third row and second column.
print(number_grid[2][1])

# Nested loops can loop through a 2D list.
for row in number_grid:
    for column in row:
        print(column)

# The looping can be done with a condition.
for row in number_grid:
    for column in row:
        if column % 2 == 0:
            print(column)

8
1
2
3
4
5
6
7
8
9
0
2
4
6
8
0

In [35]:
# Nested loops can loop through a 2D list.
for row in number_grid:
    for column in row:
        print(column)

1
2
3
4
5
6
7
8
9
0

In [36]:
for row in number_grid:
    for column in row:
        if column % 2 == 0:
            print(column)

2
4
6
8
0

In [45]:
# def func():
#   return 1

In [46]:
#closure and currying
def outer(outer_arg):
  def inner(inner_arg):
    return inner_arg + outer_arg
  return inner

In [39]:
func = outer(10)

In [40]:
func(5)

15

In [41]:
outer(10)(5)

15

In [44]:
func.__closure__[0]

In [48]:
import functools as fn

In [49]:
#partial fun
def fun(a,b,c):
  return a,b,c

In [50]:
p_fun= fn.partial(fun,10)
p_fun(3,4)

(10, 3, 4)

In [52]:
p_fun = fn.partial(fun, 10,12)
p_fun(3)

(10, 12, 3)

In [54]:
#recursion

def loop(n):
  for x in range(int(n)):
    a= 1+1
def recurse(n):
  if n<=0:
    return
    a = 1+1
    recurse(int(n)-1)

In [56]:
recurse(5)

In [57]:
#lambda
def use_cb(cb, arg):
  return cb(arg)

In [58]:
use_cb(lambda arg:arg*2,10)

20

In [60]:
#list compreshion
print(map(lambda arg: arg *2 , range(2,6)))

<map object at 0x7f84193f1210>

In [61]:
[x*2 for x in range(2,6)]

[4, 6, 8, 10]

In [62]:
#typical use of filter
filter(lambda x: x>10 , range(5,16))

In [65]:
#replace with list  compreshion
[x for x in range(5,16) if x >10]

[11, 12, 13, 14, 15]

In [73]:
#decorator
def decorator(func):
  @fn.wraps(func)
  def new_func(*args, **kwargs):
    print('decorator was here')
    return func(*args, **kwargs)
  return new_func

In [74]:

@decorator
def add(a,b):
  return a+b

In [75]:
add(1,2)

decorator was here

3

In [76]:
>>> class Dog:
...     species = "Canis familiaris"
...     def __init__(self, name, age):
...         self.name = name
...         self.age = age

In [77]:
>>> buddy = Dog("Buddy", 9)
>>> miles = Dog("Miles", 4)

In [78]:
buddy.name

'Buddy'

In [79]:
miles.species

'Canis familiaris'

In [80]:
miles.age

4

In [82]:
[x*2 for x in range(5)]

[0, 2, 4, 6, 8]

In [120]:
# from IPython.core.completer import itertools
# #module itertools
# itertools.izip("abc","xyz")

In [88]:
#map(function, [data])
def mult_2(item):
  return item*2
print(list(map(mult_2, [1,2,3])))

[2, 4, 6]

In [91]:
#filter
my_list= [1,2,3]
def only_odd(item):
  return (item%2)!=0
print(list(filter(only_odd, [1,2,3])))

[1, 3]

In [93]:
your_list= (1,3,6)
print(list(zip(my_list, your_list))) #list+tuple

[(1, 1), (2, 3), (3, 6)]

In [99]:
from functools import reduce
def accumulator(acc, item):
  print(acc, item)
  return acc+item

print(reduce(accumulator, my_list ,0))

0 1
1 2
3 3
6

In [ ]:
#we can use zip, map, filter, reduce with lambda fn

In [100]:
print(reduce(lambda acc,item : acc+item, my_list))

6

In [101]:
print(list(map(lambda x: x**2, my_list)))

[1, 4, 9]

In [104]:
a=[(0,2),(4,3),(10,-1),(9,9)]
print(a.sort())
a.sort(key=lambda x: x[1]) #sort by second element in list
print(a)

None
[(10, -1), (0, 2), (4, 3), (9, 9)]

In [110]:
my_l= [x*2 for x in range(0,100) if x%2==0]
#my_l
#set compreshion same as list

In [113]:
simple_dict={'a':1,"b":2}
my_dict ={key:value**2 for key , value in simple_dict.items() if value%2==0}
print(my_dict)

{'b': 4}

In [115]:
my_dict ={x:x*2 for x in[1,2,3]}
my_dict

{1: 2, 2: 4, 3: 6}

In [118]:
some_list=[1,2,3,3,4,4,6,7]
duplicates= list(set([x for x in some_list if some_list.count(x)>1]))

In [119]:
duplicates

[3, 4]